// Place all the styles related to the Sausages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

aside#sidebarSausageMenu {
  float: right;
  font-size: 1.7em;
  background: #F0F0F0;
  width: 300px;
}
