// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

aside#sidebarUsers {
  float: right;
  font-size: 1.7em;
  background: #F0F0F0;
  width: 480px;
}

aside#sidebarUsersMenu {
  float: right;
  font-size: 1.7em;
  background: #F0F0F0;
  width: 480px;
}
