<aside id="sidebar">

<h3> The Story </h3>
<p>
Carmelo is proud to introduce his sausages to the world. Carmelo uses only good fresh quality meats for his sausages and not frozen. The meats selected are purchased at the best prices, to provide the best quality and price to his customers.
</p>
<p>
Carmelo learned the art sausage making from his father Giuseppe and his uncles, the Lattuca's family. In the old days in Canada, his dad and his brothers would buy fresh whole meats from the local butchers the day before making the sausages. The meat of choice was the Boston pork butt and pork bellies.
</p>
<p>
Carmelo continues to utilize the traditional methods he learned and adapted new modern methods and standards in the art of sausage, while using his teachings from Giuseppe.
</p>
<p>
I hope you enjoy my sausages as much as I do in making them and eating them.
<br>
<br>
- Carmelo
</font>
</p>
<br>
<br>
<%= link_to "Enter Carmelo's Sausage Store", store_path %>

<br>
<br>
<nav>
    <ul>
      <li>
          <%= link_to 'Sausage Store Admin Functions', admin_path %>
      </li>  
    </ul>
  </nav>
</aside>
