<aside id="sidebarTy">

  <nav>
      <ul>
        <li>
        <%= link_to "Buy more Sausages", store_path %>
      </li>
      <li>
        <%= link_to "Exit Sausage Store", say_good_bye_path %>
      </li>
      </ul>
  </nav>



</aside>
